@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using PanneauSolaire.Models.Entity;
@using PanneauSolaire.Models.ViewStruct;
@{
    StructCoupure structCoupure = new StructCoupure();
    List<Secteur> secteurs = structCoupure.secteurs;
}
<div class="container-fluid">
    <form asp-action="HeureCoupure" asp-controller="Specific" style="margin-top: 2%">
        <div class="row mb-3">
            <div class="col-md">
                <div class="form-floating formDiv">
                    <input type="date" name="jour" class="form-control" id="floatingInputGrid" placeholder="" value="">
                    <label for="floatingInputGrid">Date du jour</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <button type="submit" class="btn btn-outline-info btn-lg formDiv formButton" style="height: stretch;">Voir</button>
                </div>
            </div>
        </div>
    </form>

    <hr />

    <form asp-action="HeureCoupureSecteur" asp-controller="Specific">
        <div class="row mb-3">
            <div class="col-md">
                <div class="form-floating">
                    <select name="idsecteur" class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
                        @foreach(Secteur secteur in secteurs)
                        {
                            <option value="@secteur.Id">@secteur.Refs</option>   
                        }
                    </select>
                  <label for="floatingSelectGrid">Secteurs</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating formDiv">
                    <input type="date" name="jour" class="form-control" id="floatingInputGrid" placeholder="" value="">
                    <label for="floatingInputGrid">Date du jour</label>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <button type="submit" class="btn btn-outline-info btn-lg formDiv formButton" style="height: stretch;">Voir</button>
                </div>
            </div>
        </div>
    </form>

    <hr />

    @if(ViewBag.Exceptions != null)
    {
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Exception: </strong>@ViewBag.Exceptions.Message
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if(ViewBag.TuplesPrevisions != null){
        foreach((Secteur,List<Prevision>) tuple in ViewBag.TuplesPrevisions){
            Secteur secteur = tuple.Item1;
            List<Prevision> previsions = tuple.Item2;

            <div class="row mb-3">
                <div class="p-3 mb-2 bg-white text-dark">@secteur.Refs</div>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Jour</th>
                        <th scope="col">Heure</th>
                        <th scope="col">Lumière</th>
                        <th scope="col">Panneau</th>
                        <th scope="col">Batterie</th>
                        <th scope="col">Personnes</th>
                        <th scope="col">Consommation</th>
                    </tr>
                    </thead>
                    <tbody>
                        @foreach (Prevision prevision in previsions)
                        {
                            <tr>
                                <td>@prevision.Jour</td>
                                <td>@prevision.Heure</td>
                                @if(prevision.Meteo != null){
                                    <td>@prevision.Meteo.Lumiere / @prevision.Meteo.LumiereMax</td>
                                }
                                <td>@prevision.PuissancePanneau</td>
                                <td>@prevision.PuissanceBatterie</td>
                                <td>@prevision.NbPersonne</td>
                                <td>@prevision.ConsMoyenne</td>
                            </tr>
                        }
                </table>
            </div>
        }
    }
</div>
